@import "normalize";
@import "lightgallery";
@import "lg-transitions";
@import url('https://fonts.googleapis.com/css?family=Lato');

// Thumbnails
figure{
    margin:0;
}

h1, figcaption, p, .lg-sub-html, #lg-counter-current, #lg-counter-all{
    font-family: 'Lato', sans-serif;
}

.lg-backdrop{
  background: rgba(16, 0, 28, 0.8);
}

.lg-object {
  border-radius: 3px;
}

.lg-progress-bar .lg-progress{
    background: rebeccapurple;
}

figure{
    margin:0 auto;
    width:70%;
    display:flex;
}