@import "normalize";
@import "lightgallery";
@import "lg-transitions";
@import "uikit.min";
@import "uikit-rtl.min";
@import url('https://fonts.googleapis.com/css?family=Montserrat');

.portfolio{
    background: url(https://www.toptal.com/designers/subtlepatterns/patterns/dust_scratches.png);
}

h1, p, .lg-sub-html, #lg-counter-all{
  font-family: 'Montserrat', sans-serif;  
}

// Light Gallery Styling
.lg-backdrop{
  background: rgba(16, 0, 28, 0.8);
}

.lg-object {
  border-radius: 3px;
}

.lg-progress-bar .lg-progress{
    background: rebeccapurple;
}

.lg-outer .lg-thumb-item.active, .lg-outer .lg-thumb-item:hover{
    border-color:rebeccapurple;
}
//Layout
figure{
    margin:0 auto;
    width:80%;
    display:flex;
    justify-content: center;
    flex-wrap:wrap;
}

figure img{
    margin:3px;
}

footer{
    position: relative;
    bottom:0;
    width:100%;
    background-color:lightgray;
}